header, footer, .btn-primary{
	background: rgb(111, 55, 81);
}
header{
	height: 50px;
}
.primary{
	min-height: -webkit-fill-available;
}
.btn-primary{
	border: none;
	transition: background-color 0.5s ease-in-out;
}
ul{
	margin-top: 30px;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 20px
}